* {vertical-align: baseline;font-weight: normal;margin: 0;padding: 0;}

body {margin: 0;padding: 0;font-family: 'Arial';font-size: 14px;width: 100%; margin: 10px;}

.graph {
	position: relative;
	padding: 30px;
	border: 1px solid #000000;
	width: 50%;
	margin-bottom: 15px;
	overflow: hidden;
}

.line {
	width: 100%;
	height: 1px;
	background: #ebebeb;
	margin-bottom: 20px;
}

.line .range-val {
	color: #666666;
	margin-left: -25px;
	position: relative;
	top: -8px;
}

.points {
	margin-top: -25px;
	position: relative;
	
}

.points  li {
	float: left;
	list-style: none;
	position: relative;
}

.points  li div:first-child{
	width: 10px;
	height: 10px;
	background: #ee2930;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	margin-right: 40px;
	position: relative;
	z-index: 2;
}

.gorizontal-line {
	height: 5px;
	background: #777777;
	position: relative;
	top: 2px;
	left: 8px;
}

.vertical-line {
	display: none;
	width: 5px;
	background: #777777;
	position: absolute;
	top: 2px;
	left: 3px;
}

.reverse-line .vertical-line {
	bottom: 5px;
	top: auto;
}

.wrap-input {
	margin-bottom: 15px;
}

.wrap-input label {
	margin-right: 15px
}

.wrap-input input {
	width: 50px;
	height: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: none;
	border: 1px solid #888888;
	padding-left: 5px;
}

.left-panel {
	float: left;
	width: 40%;
}

.factors {
	border-collapse: collapse;
}

.factors thead {
	color: #999;
	font-size: 12px;
}

.factors tbody td:first-child input{
	border: 2px solid #b3b3b3;
	width: 56px;
	height: 26px;
	height: 25px;
	text-align: center;
}

.factors tbody .factor-name{
	display: block;
	background: #6a87ad;
	padding:7px 25px 7px 14px;
	color: #fff;
	font-size: 14px;
	font-family: arial black;
	cursor: pointer;
	position: relative;
}

.factors tbody .factor-name:after {
	content: '';
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 8px;
	height: 13px;
	background: url('../image/sprite.png') 0 0;
}

.factors tbody td:nth-child(4) .input-score{
	height: 25px;
	line-height: 25px;
	background: #b3b3b3;
	font-size: 18px;
	font-family: arial black;
	width: 70px;
	border: none;
	text-align: center;
	color: #fff;
	margin-left: 15px;
}

.factors tbody td {
	padding: 14px 0;
}

/*Slider*/


.slider.slider-horizontal {
	width: 500px;
}

.min-slider-handle, .slider-handle {
	width: 22px;
	height: 22px;
	background-image: none;
	background: url('../image/sprite.png') 0 -17px;
}

.slider.slider-horizontal .slider-selection, .slider-track-high {
	background: none;
	height: 11px;
	background: url('../image/slider-line-back.png') repeat-x;
	box-shadow: none;
}

.slider-tick, .slider-tick.in-selection {
	width: 3px;
	height: 20px;
	border-radius: none;
	
	background: none;
	background: url('../image/handle-line.png') no-repeat;	
}

.slider.slider-horizontal .slider-tick {
	margin-left: 0;
}

.slider-tick-label {
	color: #999;
	font-weight: bold;
}

.container {
	position: relative;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

.left-panel > div:after {
	content: '';
	clear: both;
	display: block;
}

.institutional-framework {
	display: block;
	width: 30%;
	float: left;
}

.ifa {
	width: 245px;
	background: #414142;
	padding: 6px 7px;
	color: #fff;
	display: block;
	float: left;
	font-size: 13px;
	box-sizing: border-box;
}

.right-panel {
	width: 50%;
	float: left;
}

.wrap-sliders {
	margin-top: 100px;
}

.slider-horizontal {
	margin-bottom: 30px !important;
}

/*dialog*/

.dialog {
	background: #fff;
	width: 100%;
	height: 500px;
	clear: both;
}

.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
}

.tabs-menu li {
    height: 28px;
    line-height: 28px;
    float: left;
    list-style-type: none;
}

.tabs-menu li.current a{
    position: relative;
    background-color: #e51b3b;
    z-index: 5;
    color: #fff;
}

.tabs-menu li a {
    padding: 5px 20px;
    text-decoration: none; 
    background: #fff;
    color: #e51b3b;
    border: 1px solid #e51b3b;
}

.tabs-menu li:first-child a {
	border-radius: 5px 0 0 5px;
}
.tabs-menu li:last-child a {
	border-radius: 0 5px 5px 0;
}

.tab {
	clear: both;
    background-color: #fff;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    padding: 20px;
    display: none;
}

#tab-1 {
 display: block;   
}

.tabs-menu li a{
	font-size: 14px;
}

.dialog .title {
	color: #464646;
	font-size: 20px;
	margin-bottom: 20px;
}

.arrow-back {
	width: 23px;
	height: 18px;
	display: block;
	background: url('../image/arrow-left.png');
	margin-right: 10px;
	cursor: pointer;
	float: left;
}

.dialog .title span {
	color: #e51b3b;
	font-weight: bold;
	margin-left: 20px;
	cursor: pointer;
}

.economy-table tr:nth-child(2) td span{
	background: #ddd;
	padding: 5px 0;
	text-align: center;
	display: block;
}

.economy-table tr:nth-child(2) td span.push {
	background-color: #de0031;
}

.dialog{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	height: 100%;
	background: #fff;
}

.tab-content table td{	
	text-align: center;
}

.tab-content table tr:first-child td{
	font-size: 17px;
	padding: 30px;
}

.tab-content table tr:last-child td{
	font-size: 18px;
	font-weight: bold;
}

.tab-content table tr:last-child td{
	-webkit-box-shadow: inset 3px -3px 15px 3px rgba(155,155,155,1);
	-moz-box-shadow: inset 3px -3px 15px 3px rgba(155,155,155,1);
	box-shadow: inset 3px -3px 15px 3px rgba(155,155,155,1);
	color: #666666;
	cursor: pointer;
}

.tab-content table tr:last-child td.active {
	-webkit-box-shadow: inset 3px -3px 15px 3px rgba(255,255,255,1);
	-moz-box-shadow: inset 3px -3px 15px 3px rgba(255,255,255,1);
	box-shadow: inset 3px -3px 15px 3px rgba(255,255,255,1);
	color: #fff;
	background: rgba(216,0,48,1);
}

.tab-content table tr:first-child td{
	-webkit-box-shadow: inset 2px 0px 15px 3px rgba(155,155,155,1);
	-moz-box-shadow: inset 2px 0px 15px 3px rgba(155,155,155,1);
	box-shadow: inset 2px 0px 15px 3px rgba(155,155,155,1);
	color: #666666;
}

.wrap-qualitative-factors-item {
	-webkit-box-shadow: inset 3px -3px 15px 3px rgba(155,155,155,1);
	-moz-box-shadow: inset 3px -3px 15px 3px rgba(155,155,155,1);
	box-shadow: inset 3px -3px 15px 3px rgba(155,155,155,1);
	padding: 10px;
}

.wrap-qualitative-factors-item p {
	margin-bottom: 10px;
}

.wrap-qualitative-factors-item label {
	font-weight: bold;
}

.tab-content .left, .tab-content .right {
	width: 40%;
	float: left;
}

.wrap-qualitative-factors .total {
	clear: both;
}